
.card-tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
}

/* border: 2px solid tomato; */

.card-tech-section img{
    width: 50%;
    border-radius: 15px;
}


@keyframes spinn {
    from{
        transform: rotateX(90deg); 
    }
    to{
        transform: rotateX(0deg);
    }
}

@media (max-width:580px){

    #hexagon{
        height: 30px;
        width: 7.9rem;
        margin-bottom: 40px;
    }
    
    .card-tech-section{
        width: 180px;
        margin-bottom: 0;
    }

    .card-tech-section img{
        width: 60%;
        border-radius: 5px;
    }
}
@media (max-width:450px){
    .card-tech-section{
        height: 100px;
        width: 100px;
    }

}