.card-tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
}

/* border: 2px solid tomato; */

.card-tech-section img{
    width: 50%;
    border-radius: 15px;
}

@media (max-width:580px){
    .card-tech-section{
        width: 180px;
    }

}
@media (max-width:450px){
    .card-tech-section{
        height: 100px;
        width: 100px;
    }

}