.tech-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px 0 /*20%*/;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.432);
}

.icons {
    display: flex;
    justify-content: center;
}



