
.language-icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
}

/* border: 2px solid tomato; */

.language-icon  img{
    width: 80%;
    border-radius: 15px;
}

@media (max-width:580px){
    
    .language-icon {
        width: 180px;
        margin-bottom: 0;
    }

    .language-icon  img{
        border-radius: 5px;
    }
}
@media (max-width:450px){
    .language-icon {
        height: 100px;
        width: 100px;
    }

}