.slide-container img{
    height: 100%;
    width: 100%;
}

.btn-area-game{
    transition: 400ms;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.700);
    height: 40%;
    width: 100%;
    padding: 1%;
    color: whitesmoke;
    text-align: center;
}

.btn-area-game input{
    background-color: rgba(23, 156, 52, 0.700);
    margin: 5% 0;
    height: 90px;
    width: 200px;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    transition: 200ms;
}

.btn-area-game input:hover{
    background-color: rgb(23, 156, 52);
}
