.proj-section{
    height: auto;
}

.btn-show-all{
    text-align: center;
    margin-bottom: 50px;
}

.btn-show-all button{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    border-radius: 10px;
}
