@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway:ital,wght@1,300;1,400&display=swap');
/* 
font-family: 'Raleway', sans-serif; 
font-family: "'Lora', serif";
*/

:root {
    --sectionHeight: 96vh;
    --primaryColor: #000000;
    --secondaryColor: #09d809;
}

.preloader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.theme-color{
    color: var(--secondaryColor);
    font-family: 'Raleway', sans-serif; 
}

body{
    background-color: var(--primaryColor);
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
    background-attachment: fixed;
}

* {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: var(--sectionHeight);
    overflow: hidden;
}

.section-title {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 2rem;
    margin: 10px 0 50px 0;
    color: var(--secondaryColor);
    text-align: center;
    letter-spacing: 3px;
}

::-webkit-scrollbar {
    background-color: rgb(29, 29, 29);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
    border-radius: 15px;
    width: auto;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(117, 117, 117);
}

@media(max-width: 991px) {}

@media (max-width:450px){
    section{
        height: auto;
    }

    h3{
        font-size: 18px;
    }
    
    h4{
        font-size: 15px;
    }

    .section-title {
        font-size: 20px;
        margin: 10px 0 10px 0;
    }
}
