.contacts-section{
    background-image: url("./../../../assets/contacts-bg.png");
    background-size: 100% 250%;
    height: auto;
    padding-top: 10px;
}

.contacts-section img{
    width: 30px;
    margin-right: 10px;
}

.contacts-section a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

.contacts-section a:hover{
    
    text-decoration: underline;
    color: var(--secondaryColor);
    text-decoration-style: double;
}

.contacts-container{
    text-align: center;
}

.contact{
    margin: 30px;
}

footer{
    padding-top: 50px;
    text-align: center;
    color: var(--secondaryColor);
}

@media (max-width:500px){
    .contacts-section{
        background-size: 110% 100%;
    }
}