.contacts-section{
    background-color: #00000070;
    height: auto;
    padding: 15px;
}

.contacts-section img{
    width: 30px;
    margin-right: 10px;
}

.contacts-section a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

.contacts-section a:hover{
    text-decoration: underline;
    color: var(--secondaryColor);
    text-decoration-style: double;
}

.main-contacts img{
    width: 24px;
    margin-right: 15px;
}

.contacts-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    
}

.contact{
    margin: 10px;
}

footer{
    padding: 5px;
    text-align: center;
    color: var(--secondaryColor);
}

@media (max-width:500px){
    .contacts-section{
        background-size: 110% 100%;
    }
}