.card-proj{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 6% 3%;
    animation: show 1s ease ;
}

.card-proj:nth-child(1){
    animation-delay: 700ms;
}

.card-proj a{
    text-decoration: none;
}

.card-proj a:hover{
    text-decoration: underline;
    color: green;
}

.card-proj img{
    position: relative;
    width: 50%;
    border-radius: 10px;
}

.proj-infor{
    padding: 50px;
    width: 47%;
}

.proj-link{
    margin-top: 30px;
    font-size: 20px;
}

.card-proj-techs{
    margin-top: 30px;
}

.card-proj-techs img{
    width: 25px;
    margin: 0 5px;
}

@keyframes show {
    from{
        transform: rotateX(90deg); 
    }
    to{
        transform: rotateX(0deg);
    }
}

@media (max-width:900px){
    .card-proj{
        display: block;
    }

    .card-proj img{
        width: 100%;
    }

    .card-proj-techs img{
        width: 24px;
    }

    .proj-infor{
        width: 100%;
        padding: 0 40px 0 40px;
    }
}

@media (max-width:450px){
    .proj-infor{
        width: 100%;
        padding: 0 20px 0 20px;
    }

    .proj-link{
        font-size: 13px;
        margin: 10px 0 10px 0;
    }

    .card-proj-techs{
        margin: 0;
    }

}