.pres-section{
    position: relative;
    overflow: hidden;
    padding: 6% 3%;
}

.pres-section h1{
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    color: var(--secondaryColor);
}

.pres-section h2{
    font-size: 5rem;
    margin-right: 30px;

}

.presentation-text div{
    display: flex;
    width: 35%;
}

.presentation-level{
    border-left: 4px double var(--secondaryColor);
    padding-left: 15px;
    font-family: 'Lora', serif;
}
