.navbar{
    position: fixed;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 9998;
    transition: 400ms;
    padding: 10px;
    color: whitesmoke;
}

.navbar button{
    background-color: transparent;
    border: none;
    padding: 10px;
}

.menu-icon{
    display: none;
}

.menu{
    display: flex;
    margin-bottom: -30px;
    
}

li{
 list-style: none;
}

li a{
    position: relative;
    font-size: 21px;
    padding: 15px;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}
li a::after{
    content: "";
    position: absolute;
    background-color: var(--secondaryColor);
    left: 0;
    bottom: 0;
    height: 2px;
    transition: 200ms;
    width: 0;
}
.menu li a:hover{
    color: rgb(145, 145, 145);
}

.menu li a:hover:after{
    width: 100%;
}

.offcanvas{
    z-index: 9999;
    width: 60%;
    background-color: #00000018;
    backdrop-filter: blur(15px);
}

.offcanvas ul li{
    margin:  0 0 20px -40px;
}

@media (max-width: 700px){
    .menu-icon{
        display: block;
    }

    nav{
        display: none;
    }

    .menu{
        display: block;
    }
}